<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Facial Emotion Prediction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="./css/AppStyle.css" />
    </head>
    <body>
        
        <div class="model_desc">
                <h2> Model Description </h2><br>
                <p>This web application is an Facial Emotion prediction system. The aim of this project is to predict individuals Facial emotion  by comparing different types of models.</p>
                <p>After providing it with image in fixed size shape, The Emotion can be predited also with the confidence score.</p>
            
            </div>
        <div class="data_part">
            <div class="model_desc2">
                <h2> Model Description </h2><br>
                <p>This web application is an Facial Emotion prediction system. The aim of this project is to predict individuals Facial emotion  by comparing different types of models.</p>
                <p>After providing it with image in fixed size shape, The Emotion can be predited also with the confidence score.</p>
            
            </div>
            <h1>PREDICTION</h1>
        
            <form action="/predict" method="POST">
                <select name="comp_select" class="Input">
                    {% for o in Models %}
                    <option value="{{ o.Model }}">{{ o.Model }}</option>
                    {% endfor %}
                  </select><br><br>
                <button  class="pred-btn" type="submit" value="Analyze" name="Analyze">Analyze</button>
                <button  class="pred-btn" type="submit" value="Watch" name="Watch" >Watch</button>
                
        </form>
            <h2>{{emotion_label}}</h2>
            <h3> {{prediction_text}} </h3>
        
        </div>
        




        
    </body>
</html>