<!DOCTYPE html>
<html>


  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <!-- <img src="{{ url_for('video_feed') }}" width="50%"> -->
                <form method="post" action="/">
                    <input type="submit" value="Encrypt" name="Analyze Frame"/>
                    <input type="submit" value="Decrypt" name="Decrypt Frame Captured by Webcamera" />
                </form>
                {% for e in mylist %}
                    {{e}}
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>


</html>