<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Facial Emotion Prediction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="./static/css/AppStyle.css" />
    </head>
    <body>
        
        <div class="model_desc">
                <h2> Model Description </h2><br>
                <p>This web application is an Facial Emotion prediction system. The aim of this project is to predict individuals Facial emotion  by comparing different types of models.</p>
                <p>After providing it with image in fixed size shape, The Emotion can be predited also with the confidence score.</p>
                {% if Image %}
                <img class="pred_img" src="data:image/jpeg;base64,{{ Image }}" alt="Picture predicted">
                {% endif %}

                {% if file_img %}
                    <img class="pred_uimg" src="{{ url_for('static', filename=file_img.filename) }}" alt="Resized Image" style="width: 224px"/>
                {% endif %}
        </div>
        <div class="data_part">
            
            <h1>PREDICTION</h1>
            <br/>
            <br/>

            <form action="/predict" enctype="multipart/form-data" method="POST">
                <label> Select Model </label>

                <select name="comp_select" class="Input">
                    {% for o in Models %}
                    <option value="{{ o.Model }}">{{ o.Model }}</option>
                    {% endfor %}
                </select>
                <br/>
                <br/>
                <label> Select Picture </label>
                <input type="file" name="file"> 
                <br/>
                <button  class="pred-btn" type="submit" value="Analyze" name="Analyze">Analyze</button>
                <button  class="pred-btn" type="submit" value="Upload" name="Upload" >Watch</button>
                
        </form>
        <h1>
            {{pred_model}}
        </h1>
        <h2>
            {{emotion_label}}
        </h2>
        <h3> {{prediction_text}} </h3>
           
        </div>
        {% if graph %}
        <div class ="data_part2">
            <div class="image-container">
                <img src="data:image/png;base64,{{graph}}" alt="Graph Predicted">    
            </div>
        </div>
        {% endif %}
        



        
    </body>
</html>