{% extends 'Home_base.html' %}

{% block title %}
Presentation
{% endblock title %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<center>
    <iframe src="https://onedrive.live.com/embed?resid=3BB26557EDD297D2%21154&amp;authkey=%21AMHN2cGUzzncFTQ&amp;em=2&amp;wdAr=1.7777777777777777" width="1186px" height="691px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
</center>
{% endblock body %}